{% extends 'notifications/base_navigation.html' %}
{% load static %}
{% block content %}
	<main class="mdl-layout__content">
		<p><strong>Welcome to PA Notifications. To get started simply click on the hamburger icon to the top left hand side of the screen, and then click on 'Notifications'.</strong></p>
		<div class="home-image-container">
			<img class="home-image" src="{% static 'img/home-image.jpg' %}"></img>
		</div>
	</main>
<!-- <footer class="main-footer">2016 | PA Notifications</footer> -->
{% endblock %}